
.vs/ProjectManagement/v17/.suo
.vs/ProjectManagement/v17/.futdcache.v2
.vs/ProjectManagement/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/projectmanagement.projects.v7.bin
.vs/ProjectEvaluation/projectmanagement.metadata.v7.bin
*.bin
*.vsidx
*.v2
.vs/ProjectManagement/v17/.suo
*.dll
*.pdb
